* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.loginBody {
    position: absolute;
    width: 40rem;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    border: 1px solid black;
    background-image: url(https://tse1-mm.cn.bing.net/th/id/OIP-C.Jqg38-C4EvgXY_LD_2OcVwHaEw?w=250&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: cover;

    >div {
        margin-top: 2rem;
        font-weight: bolder;
    }

    >div:nth-child(1) {
        padding-right: 1.1rem;
    }

    >div:nth-child(3) {
        display: flex;
        justify-content: center;

        >div:nth-child(n+1) {
            width: 10rem;
            height: 3rem;
            background-color: red;
            color: white;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3rem;
            user-select: none;
        }

        >div:nth-child(1) {
            &:hover {
                background-color: orange;
            }
        }

        >div:nth-child(2) {
            margin-left: 1rem;
            background-color: orange;

            &:hover {
                background-color: red;
            }
        }
    }
}