* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.communityContent {
  width: 100rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.communityContent > div {
  background-color: #f4f4f4;
  width: 22%;
  margin: 2rem 0rem 0rem 2.4rem;
  text-align: center;
}

.communityContent > div > div:nth-child(1) img {
  width: 100%;
}

.communityContent > div > div:nth-child(3) {
  margin-top: 1rem;
  color: red;
}
