* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.contentBody {
    width: 85vw;
    height: auto;

    >div {
        width: 80%;
        height: 7rem;
        background-color: red;
        margin: 2rem 0rem 0rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #f4f4f4;
        border: 3px dashed black;


        >img {
            width: 4rem;
            height: 4rem;
        }

        >div:nth-child(1) {
            margin-left: 2rem;
            width: 6rem;
        }

        >div:nth-child(2) {
            margin-left: 5rem;

            >img {
                width: 4rem;
                height: 4rem;
            }
        }

        >div:nth-child(3) {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2rem;
            width: 6rem;
            height: 3rem;
            margin-left: 71rem;
            background-color: orange;
        }
    }
}

.button {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    background-color: blue;
    border-radius: 50%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9.5rem;
    left: 130rem;
}