* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

.releaseBody {
    height: 113vh;

    .releaseFrom {
        width: 70%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        top: 10%;

        >div {
            padding: 2rem;
            font-size: 2rem;

            >input {
                height: 4rem;
                width: 30rem;
            }
        }

    }
}